<h1>Ajalugu</h1>
<hr>
<article>
	Leibur.eu loodi 20 november 2015, peamiselt tegutsedes Steamis ja Teamspeak'is.
	Peamiseks tegevusealaks varajasel perioodil võib pidada <i>hardcore</i> nolamist.
	Kõrghetkel kasutas Leibur.eu teenuseid ~15 klienti. Kuid Discordi saabudes, kaotas Leibur.eu
	enamiku oma kliendibaasist, langedes umbes 3-4 aktiivsele liikmele. Sellel ajal oli populaarne
	rondiäri ja alaealiste tüdrukute <i>vloggide</i> üle naermine. Nüüdseks on koondunud enamik 
	aktiivseid liikmeid ühte Telegrammi gruppi, mille nime me ei avalda. Hetkel viljeleb grupp 
	<i>shitpostimise</i> kunsti praktiseerimises. Gruppi üks asutajatest <b>Hrjohn</b> on välja aretanud
	oma shitpostimise stiili, <b>Johnpostimise</b>, võtes inspiratsiooni /a/-stiili shitpostimisest.
</article>
<br>
<article>
	Lainch on leibur.eu aladomeen. Lainch algne nimetus oli lainsoc, aga kuna selle funktsioon kandus 
	üle <i>imageboardi</i> portaaliks, otsustas domeeni admin <b>Leinu</b> muuta nime. Üle oma ajaloo 
	on Lainch pakunud meili teenust, foorumi teenust ja palju muud. Hiljuti oli ka arenduses 
	<i>instant messengeri</i> tüüpi veebirakendus LIND, kuid arendustöö lakkas huvi kadumise tõttu.
	Hetkel pakub Lainch <i>livestreamimis</i> teenust ja plaanitud on taasavada meiliteenus ning
	muusika <i>streamimis</i> teenus <b>Leiburcore</b> tabelis muusikale.

</article>
