<hr>
	<div class="profile">
			<img src="./static/img/leinu.webp">
	<div>
		<h1> Leinu </h1>
		<article>
			<pre>
				<i>
			Päts on pure
						---hrjohn
				</i>
			</pre>
			Leiburi kaasasutaja, tunnustatud pohhuist ja kultuurne isik.
			Tema hobide alla kuuluvad asjade tegemine, muusika kuulamine,
			Gahnoo/Loonix ning kokkamine.
			Tunnutud laused: "Töö teeb vabaks, <i>arbeit macht frei!</i>",
			"Kõik on loodud lendama, küsimus on vaid kui kauaks?" ja
			"Kui ma oleks alkohoolik, siis seda alkot siin riiulil ei oleks."
		<article>
	</div>
		
</div>
<hr>

<div class="profile">
	<img src="./static/img/kekmas.webp">
	<div>
		<h1> Kekmas </h1>
		<article>
			<pre> <i>
Maamats,
võõras pole viin, tubakas.
Kekmas,
elab nüüd mustamäel, paneelikas.
					---Leinu
			</i></pre>

			Kehtna parmuringi esindaja, lõpetas kooli ilma kaine peata, Huvide alla
			kuuluvad muusika tegemine, kokkamine, hiina veebinovellide lugemine
			Kõige pikem leibur.eu liige.
			Tuntud ütlemiste alla kuuluvad: "Pole sitta viina, on sitad päevad",
			"Ma speedrunnin elu" ja "Türa, see kana varastas mu tobi ära"
		</article>
	</div>
</div>

<hr>
<div class="profile">
		<img src="./static/img/hrjohn_profile.webp">
	<div>
		<h1> Hrjohn </h1>
		<article>
			Resident Boomer, samuti leibur.eu kaasasutaja, uhke 5-6 Ford Mondeo omanik,
			omab meie domeeni ja <br> on Johnpostimise stiili rajaja.<br>
			Talle meeldivad autod, õlu, vanad ajad ja 4chan.<br>
			Sellised kuldsed sõnad on temast välja tulnud: "Aga vot minu ajal...",<br>
			"Ma küll ei mäleta, et me oleks seda vaadanud/teinud/rääkinud..." <br>
		</article>
	</div>
</div>
<hr>
