@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@100&family=Quicksand:wght@500&display=swap');
@font-face {
	font-family: alagard;
	src: url("./fonts/alagard/alagard.ttf") format("truetype");
}

@font-face {
	font-family: victor;
	src: url("./fonts/victor/VictorMono-Regular.ttf") format("truetype");
}

body {
	display:grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: auto auto auto;
	background-image:url('./img/bg.webp');
	background-attachment: fixed;
	padding:0;

}
#homePage .title {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;

	font-family: alagard;
	size: 16px;
}
.container {
	display: grid;
}

.marquee {
	grid-row-start: 3;
	grid-row-end: 4;
	grid-column-start: 2;
	grid-column-end: 3;

	overflow:hidden;
	width:300px;
	font-family: victor;
	font-size: 14px;
	text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px lightblue;

}

.main {
	grid-row-start:2;
	grid-row-end:3;
	grid-column-start:2;
	grid-column-end:3;

	background-color: #ffffff;
	position: relative;
	padding: 20px 20px 20px 20px;
	margin-top: 10%;
	margin-left: auto;
	margin-right:auto;
	min-width: 630px;
	max-width: 930px;
	box-shadow: 5px 5px grey;
	display: none;
}

.main article {
	font-family:victor;
	font-size: 12px;
	padding:10px 10px 10px 10px;
	}
.main h1 {
	font-weight: regular;
	font-family:alagard;
	font-size: 16px;
}

#container1 {
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto auto auto;

	justify-items: center;
}

#logo {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

#navigation {
	grid-row-start: 4;
	grid-row-end: 5;
	grid-column-start: 2;
	grid-column-end: 3;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

	margin-top: 40px;
}
#navigation button {
	border: none;
	margin: none;
	display: inline;
	font-family: alagard;
	background-color: #ffffff;
	padding: 10px 10px 10px 10px;
	transition-duration:0.5s;
}

#navigation button img {
	margin-right: 10px;
}

#navigation button:hover {
	background-color: #9c9a9a;

}
.profile {
	display:flex;
	flex-direction:row;
}
.profile img {
	margin-right:75px;
}
